@charset "utf-8";
.jumbotron-fluid{
   background-image: url("../images/Untitled-1.jpg");
}

.display-4{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 79px;
}
.lead{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}
.voeter{
    background-color: #D1958E;
    font-family: 'Inconsolata', monospace;
    margin-top: 53px;
    padding-top: 20px;
    padding-left: 24px;
}
.lijstje{
    list-style-type: none;
}
